<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="HealthMetrics.WebService.Settings">
    <Parameter Name="NationalServiceInstanceName" Value="HealthMetrics.NationalService" />
    <Parameter Name="CountyServiceInstanceName" Value="HealthMetrics.CountyService" />
    <Parameter Name="DoctorActorServiceInstanceName" Value="DoctorActorService" />
    <Parameter Name="BandActorServiceInstanceName" Value="BandActorService" />
    <Parameter Name="GenerateKnownPeople" Value="" MustOverride="true"/>
    <Parameter Name="KnownPatientId" Value="" MustOverride="true" />
    <Parameter Name="KnownDoctorId" Value="" MustOverride="true" />
  </Section>
</Settings>


